.tab-background{
  border-radius: 15px 2px !important;
  margin-bottom: 0px !important;
  margin-top: -1px !important;
  margin-left: -3px !important;
  margin-right: 0px !important;
}
.tabbrowser-tab {
  font-weight:600;
  font-family:"Source Code Pro"
}
