/**
 * @name Midnight Kangawa
 * @description My attempt at replicating the Kanagawa GTK theme.
 * @author ardishco
 * @version 420.69
 * @source https://github.com/ardishco-the-great/midnight-kanagawa-discord/
*/

@import url('https://refact0r.github.io/midnight-discord/midnight.css');

/* change colors here */
/* a color picker should show up if you hover over the "hsl(x, y, z)" part */
.theme-dark {
  --bright-text: #FEFDDF;
	/* main accent color */
	--accent-color: #C0A36E;
	/* color of accent color buttons on hover */
	--accent-color-2: #E6C384;
	/* color of accent color buttons on click */
	--accent-color-3: #DCD7BA;

	--accent-background: #16161D;
	--accent-background-2: #E6C384;
	--accent-background-3: #DCD7BA;
  --header-text: #FEFDDF;
  
	/* link color */
	--link-color: #957FB9;
	/* user mention background */
	--mention-background: #957FB94D;
	/* background of messages that mention you */
	--mentioned-background: #957FB91A;
	/* background of messages that mention you on hover */
	--mentioned-hover-background: #957FB914;
	/* main text color (messages, titles, unread text/indicators) */
	--primary-text: #FFFFFF;
	/* secondary text color (channels, descriptions, buttons) */
	--secondary-text: #DCD7BA;
	/* muted text color (input box placeholders, muted channels, message times) */
	--muted-text: #576175; 
	/* main chat/channel list/member list background */
	--primary-background: #1f1f28;
	/* background of pretty much everything else */
	--secondary-background: #1f1f25;
	/* scrollbar thumb color */
	--scrollbar-color: #DCD7BA;
	/* color of things on hover */
	--hover-modifier: #16161D;
	/* color of things when clicked */
	--active-modifier: #16161D;
	/* color of things when selected */
	--selected-modifier: #FEFDDF;
	/* amount of glow (set to 0 to disable) */
	--glow-amount: 10px;
}
